.movie-view {
    margin: 0 auto;
    background-color: rgb(0, 0, 0, 0) !important;
}


.movie-view-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.2em !important;
    color: #fff !important;
}

.movie-view-text {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1em;
    color: #fff !important;
}



.movie-view-button {
    background-color: #ffffff;
    width: 100%;
    transition: all 0.2s;
    border-radius: 30px !important;
    font-size: 0.9em !important;
    margin-bottom: 10px;
}



.movie-view-img {
    width: 80%;
    max-width: 500px!important;
    height: auto;
    border-radius: 30px;
    border-top-left-radius: 30px !important;
    border-top-right-radius: 30px !important;
    transition: all 0.2s;
}



.movie-view-favorite-button {
    background-color: #ffffff;
    border-color: #ffffff;
    width: 100%;
    transition: all 0.2s;
    border-radius: 30px !important;
    font-size: 0.9em !important;

}

.movie-view-favorite-button:hover {
    background-color: #ffffff;
    border-color: #ffffff;
    box-shadow: 0px 0px 8px 1px #ffffff;
}

.movie-view-fav-danger {
    background-color: #ff0000;
    border-color: #ff0000;
    width: 100%;
    transition: all 0.2s;
    border-radius: 30px !important;
}

.movie-view-fav-danger:hover {
    background-color: #ff0000;
    border-color: #ff0000;
    box-shadow: 0px 0px 8px 1px #ffffff;
}

.movie-view-fav-secondary {
    background-color: #ffffff;
    border-color: #ffffff;
    width: 100%;
    transition: all 0.2s;
    border-radius: 30px !important;
}

 @media (min-width: 768px) {
     .movie-view-body {
         width: 70%;
         float: right;
     }

     .movie-view-img {
         width: 30%;
         max-width: 300px !important;
         float: left;
     }

     .movie-view-text {
         text-align: left;
     }

     .movie-view-button,
     .movie-view-favorite-button {
         width: 100%;
         margin-top: 10px;
     }
 }